.description {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
 
div, img, footer {
  position: relative;
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  text-align: center;
}

h1{
  font-size: 56px;
  font-stretch: condensed;
  margin-top: 40px;
  margin-bottom: 20px;
}

p{
  font-family:'Times New Roman', Times, serif;
}


figcaption{
  font-size:medium
}

.space { margin-top: 520px; }

.space2 {
  margin-top: 840px;
}

.space3 {
  margin-top: 455px;
}

.thumb1 { 
  width: 900px;
  height: 350px;
  overflow: hidden;
}

footer{
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}